<service-cards class="service__cards container">

    <div class="row" data-scrollin>
        <div class="col-md-6">
            <a href="#" class="service__cards__item">
                <div class="service__cards__item__line"></div>
                <div class="service__cards__item__cover progressive-image" data-item="location">
                    <div class="service__cards__item__icon"></div>
                    <div class="service__cards__item__title">Бутики</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#" class="service__cards__item">
                <div class="service__cards__item__line"></div>
                <div class="service__cards__item__cover progressive-image" data-item="phone">
                    <div class="service__cards__item__icon"></div>
                    <div class="service__cards__item__title">Горячия линия</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#" class="service__cards__item">
                <div class="service__cards__item__line"></div>
                <div class="service__cards__item__cover progressive-image" data-item="service">
                    <div class="service__cards__item__icon"></div>
                    <div class="service__cards__item__title">Сервис</div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#" class="service__cards__item">
                <div class="service__cards__item__line"></div>
                <div class="service__cards__item__cover progressive-image" data-item="recipes">
                    <div class="service__cards__item__icon"></div>
                    <div class="service__cards__item__title">Рецепты</div>
                </div>
            </a>
        </div>
    </div>

</service-cards>
