@import 'assets/css/fonts/Bork/style';
@import 'assets/css/fonts/Akzidenz/style';
@import 'assets/css/fonts/Ruble/style';
@import 'assets/css/fonts/sfdisplay/style';

.fontFamily-bork {
    font-family:$bork;
}
.fontFamily-akzidenz {
    font-family:$akzidenz;
}
.fontFamily-akzidenzExt {
    font-family:$akzidenzExt;
}
.fontFamily-ruble {
    font-family:$ruble;
}
.fontFamily-sfdisplay {
    font-family:$sfdisplay;
}
