html,body{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}textarea{resize:none}address{font-style:normal}input,textarea,button{outline:none}img{-webkit-user-drag:none}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}

/* Webkit */
input:focus::-webkit-input-placeholder {
   color: transparent !important;
}

/* Mozilla Firefox 4 - 18 */
input:focus:-moz-placeholder {
    color: transparent !important;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
    color: transparent !important;
}

/* IE 10+ */
input:focus:-ms-input-placeholder {
    color: transparent !important;
}

a, a:hover, input[type="text"], input[type="checkbox"], input[type="range"], textarea, button, select {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout:none;
	appearance:none;
	outline:none;
	outline-style:none;
}
div, a, p, span, strong, th, td {
	color:inherit;
	font-size:inherit;
	line-height:inherit;
	font-family:inherit;
}
