@font-face {
    font-family: Bork;
    src: url("/assets/css/fonts/Bork/Bork-Display-Regilar.eot");
    src: url("/assets/css/fonts/Bork/Bork-Display-Regilar.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Bork/Bork-Display-Regilar.woff2) format("woff2"),url(/assets/css/fonts/Bork/Bork-Display-Regilar.woff) format("woff"),url(/assets/css/fonts/Bork/Bork-Display-Regilar.ttf) format("truetype"),url(/assets/css/fonts/Bork/Bork-Display-Regilar.svg#bork) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: Bork;
    src: url("/assets/css/fonts/Bork/Bork-Display-Bold.eot");
    src: url("/assets/css/fonts/Bork/Bork-Display-Bold.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Bork/Bork-Display-Bold.woff2) format("woff2"),url(/assets/css/fonts/Bork/Bork-Display-Bold.woff) format("woff"),url(/assets/css/fonts/Bork/Bork-Display-Bold.ttf) format("truetype"),url(/assets/css/fonts/Bork/Bork-Display-Bold.svg#bork) format("svg");
}
