@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: Akzidenz;
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-light.eot");
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-light.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-light.woff) format("woff"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-light.ttf) format("truetype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-light.svg#AkzidenzGroteskPro-Light) format("svg");
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Akzidenz;
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-regular.eot");
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-regular.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-regular.woff) format("woff"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-regular.ttf) format("truetype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-regular.svg#Akzidenz) format("svg");
}
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: Akzidenz;
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-md.eot");
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-md.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-md.woff) format("woff"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-md.ttf) format("truetype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-md.svg#Akzidenz) format("svg");
}
@font-face {
    font-family: AkzidenzExt;
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-ext.eot");
    src: url("/assets/css/fonts/Akzidenz/akzidenzgroteskpro-ext.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-ext.woff) format("woff"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-ext.ttf) format("truetype"),url(/assets/css/fonts/Akzidenz/akzidenzgroteskpro-ext.svg#Akzidenz-Ext) format("svg");
    font-weight: 400;
    font-style: normal;
}
