<footer-menu class="footer__menu container">

    <div class="row">
        <div class="col-md-24 col-lg-20 centered">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer__menu__title" data-scrollin>О компании</div>
                    <ul class="footer__menu__items" data-scrollin>
                        <li class="footer__menu__item"><a href="#">История</a></li>
                        <li class="footer__menu__item"><a href="#">Награды</a></li>
                        <li class="footer__menu__item"><a href="#">Контакты</a></li>
                        <li class="footer__menu__item"><a href="#">Карьера в BORK</a></li>
                        <li class="footer__menu__item"><a href="#">Бутики</a></li>
                        <li class="footer__menu__item"><a href="#">Официальные диллеры</a></li>
                        <li class="footer__menu__item"><a href="#">Битва на гриле</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="footer__menu__title" data-scrollin>Поддержка</div>
                    <ul class="footer__menu__items" data-scrollin>
                        <li class="footer__menu__item"><a href="#">Горячая линия</a></li>
                        <li class="footer__menu__item"><a href="#">Сервисные центры</a></li>
                        <li class="footer__menu__item"><a href="#">Оплата</a></li>
                        <li class="footer__menu__item"><a href="#">Доставка</a></li>
                        <li class="footer__menu__item"><a href="#">Рассрочка</a></li>
                        <li class="footer__menu__item"><a href="#">Обмен и возврат</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="footer__menu__title" data-scrollin>Рецепты</div>
                    <ul class="footer__menu__items" data-scrollin>
                        <li class="footer__menu__item"><a href="#">Первые блюда</a></li>
                        <li class="footer__menu__item"><a href="#">Мясо</a></li>
                        <li class="footer__menu__item"><a href="#">Рыба</a></li>
                        <li class="footer__menu__item"><a href="#">Птица</a></li>
                        <li class="footer__menu__item"><a href="#">Гарниры и закуски</a></li>
                        <li class="footer__menu__item"><a href="#">Выпечка и десерты</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="footer__menu__title" data-scrollin>Интернет-бутик</div>
                    <ul class="footer__menu__items" data-scrollin>
                        <li class="footer__menu__item"><a href="#">Кухня</a></li>
                        <li class="footer__menu__item"><a href="#">Дом</a></li>
                        <li class="footer__menu__item"><a href="#">Климат</a></li>
                        <li class="footer__menu__item"><a href="#">Аксессуары</a></li>
                        <li class="footer__menu__item"><a href="#">Подарочные карты</a></li>
                        <li class="footer__menu__item"><a href="#">Советы по выбору</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-10 centered">
            <div class="footer__menu__title -lines" data-scrollin>Популярное</div>
            <div class="row">
                <div class="col-md-15">
                    <ul class="footer__menu__items" data-scrollin>
                        <li class="footer__menu__item"><a href="#">Лучшие мясорубки</a></li>
                        <li class="footer__menu__item"><a href="#">Дорогие кофемашины</a></li>
                        <li class="footer__menu__item"><a href="#">Элитные мультиварки</a></li>
                        <li class="footer__menu__item"><a href="#">Мощные пылесосы</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ul class="footer__menu__items" data-scrollin>
                        <li class="footer__menu__item"><a href="#">Стильные чайники</a></li>
                        <li class="footer__menu__item"><a href="#">Современные соковыжималки</a></li>
                        <li class="footer__menu__item"><a href="#">Элитная техника</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer-menu>
