@font-face {
	font-family: "SF Display";
	src: url("/assets/css/fonts/SFDisplay/sf-pro-display_light.woff") format("woff");
    font-style:normal;
    font-weight:300;
}
@font-face {
	font-family: "SF Text";
	src: url("/assets/css/fonts/SFDisplay/sf-pro-text_regular.woff") format("woff");
    font-style:normal;
    font-weight:400;
}
@font-face {
	font-family: "SF Display";
	src: url("/assets/css/fonts/SFDisplay/sf-pro-display_medium.woff") format("woff");
    font-style:normal;
    font-weight:500;
}
@font-face {
	font-family: "SF Display";
	src: url("/assets/css/fonts/SFDisplay/sf-pro-display_semibold.woff") format("woff");
    font-style:normal;
    font-weight:600;
}
@font-face {
	font-family: "SF Display";
	src: url("/assets/css/fonts/SFDisplay/sf-pro-display_bold.woff") format("woff");
    font-style:normal;
    font-weight:700;
}
// @font-face {
// 	font-family: "SF Text";
// 	src: url("/assets/css/fonts/SFDisplay/sf-pro-text_light.woff") format("woff");
//     font-style:normal;
//     font-weight:300;
// }
// @font-face {
// 	font-family: "SF Text";
// 	src: url("/assets/css/fonts/SFDisplay/sf-pro-text_semibold.woff") format("woff");
//     font-style:normal;
//     font-weight:600;
// }
// @font-face {
// 	font-family: "SF Text";
// 	src: url("/assets/css/fonts/SFDisplay/sf-pro-text_bold.woff") format("woff");
//     font-style:normal;
//     font-weight:700;
// }
