@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: Ruble;
    src: url("/assets/css/fonts/Ruble/ALSRubl.eot");
    src: url("/assets/css/fonts/Ruble/ALSRubl.eot?#iefix") format("embedded-opentype"),url(/assets/css/fonts/Ruble/ALSRubl.woff2) format("woff2"),url(/assets/css/fonts/Ruble/ALSRubl.woff) format("woff"),url(/assets/css/fonts/Ruble/ALSRubl.ttf) format("truetype"),url(/assets/css/fonts/Ruble/ALSRubl.svg#ALSRubl) format("svg");
}
