<promo-premium>

    <div class="grid container">
        <div class="row top">
            <div class="top__line"></div>
            <div class="top__title">
                <div class="top__title__parallax -parallax progressive-image"></div>
            </div>
            <div class="col-md-8 col-lg-6 centered">
                <div class="grid__item">
                    <div class="top__text" data-pos="bottom-left" data-scrollin>
                        <span class="c-grayDark">коллекция бытовой</span><br>техники из будущего
                    </div>
                    <div class="picture__wrapper">
                        <div class="picture -parallax-smooth progressive-image" data-from="50" data-to="-150"></div>
                    </div>
                    <div class="picture__text" data-scrollin></div>
                </div>
            </div>
        </div>
    </div>

    <div class="stand">
        <div class="stand__title">
            <div class="stand__title__text" data-scrollin>Продуманное <span>превосходство</span></div>
        </div>
        <a target="_blank" href="http://www.bork.ru/platinum/" class="ui-cover__link">Коллекция BORK Platinum</a>
        <div class="product" data-item="x780" data-pos="right">
            <a target="_blank" href="http://www.bork.ru/eShop/Breadmakers/x780/" class="product__pointer">
                <div class="product__pointer__dot"></div>
            </a>
            <div class="product__title__overflow">
                <div class="product__title">Хлебопечь <span>X780</span></div>
            </div>
            <div class="product__options">
                <div class="product__options__overflow">
                    <div class="product__options__title">
                        2 формы для выпечки
                    </div>
                    <div class="product__options__title">
                        20 автоматических программ
                    </div>
                    <div class="product__options__title">
                        3 варианта веса готовой выпечки
                    </div>
                    <div class="product__options__title">
                        Голосовые подсказки
                    </div>
                </div>
            </div>
        </div>
        <div class="product" data-item="k780" data-pos="right">
            <a target="_blank" href="http://www.bork.ru/eShop/Kettles/k780/" class="product__pointer">
                <div class="product__pointer__dot"></div>
            </a>
            <div class="product__title__overflow">
                <div class="product__title">Чайник <span>K780</span></div>
            </div>
            <div class="product__options">
                <div class="product__options__overflow">
                    <div class="product__options__title">
                        5 температурных режимов
                    </div>
                    <div class="product__options__title">
                        Функция Keep Warm
                    </div>
                    <div class="product__options__title">
                        Колба из термостойкого стекла Schott Duran
                    </div>
                </div>
            </div>
        </div>
        <div class="product" data-item="m780" data-pos="right">
            <a target="_blank" href="http://www.bork.ru/eShop/Mincers/m780/" class="product__pointer">
                <div class="product__pointer__dot"></div>
            </a>
            <div class="product__title__overflow">
                <div class="product__title">Мясорубка <span>M780</span></div>
            </div>
            <div class="product__options">
                <div class="product__options__overflow">
                    <div class="product__options__title">
                        3 скорости работы для разных продуктов
                    </div>
                    <div class="product__options__title">
                        Функция автореверса
                    </div>
                    <div class="product__options__title">
                        Низкий уровень шума
                    </div>
                </div>
            </div>
        </div>
        <div class="product" data-item="t781" data-pos="left">
            <a target="_blank" href="http://www.bork.ru/eShop/Toasters/t781/" class="product__pointer">
                <div class="product__pointer__dot"></div>
            </a>
            <div class="product__title__overflow">
                <div class="product__title">Тостер <span>T781</span></div>
            </div>
            <div class="product__options">
                <div class="product__options__overflow">
                    <div class="product__options__title">
                        7 степеней поджаривания
                    </div>
                    <div class="product__options__title">
                        4 режима работы
                    </div>
                    <div class="product__options__title">
                        Автоопределение времени приготовления
                    </div>
                </div>
            </div>
        </div>
        <picture>
            <source media="(max-width: 1068px)" srcset="/assets/images/promo/premium/image_large.jpg">
            <img class="stand__image"
                src="/assets/images/promo/premium/image_large.jpg"
                srcset="/assets/images/promo/premium/image_large.jpg 1x, /assets/images/promo/premium/image_large_2x.jpg 2x"
            >
        </picture>
    </div>

</promo-premium>
