<promo-gold class="grid container">

    <div class="layer -parallax orange-left progressive-image"></div>
    <div class="layer -parallax orange-right progressive-image"></div>
    <div class="layer -parallax orange-bottom progressive-image"></div>

    <div class="row top">
        <div class="top__title">
            <div class="top__title__parallax -parallax progressive-image"></div>
        </div>
        <div class="col-md-8 col-lg-6 centered">
            <div class="grid__item">
                <div class="top__text" data-pos="top-left" data-scrollin>роскошь,</div>
                <div class="top__text" data-pos="bottom-left" data-scrollin><span class="opacity-25">достояная</span><br>царских</div>
                <div class="top__text" data-pos="bottom-right" data-scrollin>Gold</div>
                <div class="picture__wrapper">
                    <div class="picture -parallax-smooth progressive-image" data-from="100" data-to="-150"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs col-md-8 col-lg-9">
            <div class="grid__item">
                <div class="slider__parallax -parallax-smooth" data-pos="left" data-from="-100" data-to="100">
                    <div class="slider__parallax__image -back progressive-image"></div>
                    <div class="slider__parallax__image -front progressive-image"></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="grid__item center__block">
                <a target="_blank" href="https://www.instagram.com/bork_com/" class="item" data-scrollin>
                    <div class="icon__instagram"></div>
                    <div class="item__text">bork_com</div>
                </a>
                <div class="item" data-scrollin>
                    <svg class="icon__like" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M78.2,25.2c-7.8-7.7-20.4-7.7-28.1,0L50,25.2l-0.1-0.1c-3.8-3.8-8.7-5.8-14.1-5.8c-5.3,0-10.3,2.1-14.1,5.8   c-7.7,7.7-7.7,20.4,0,28.1l1.5,1.5L50,78.3l26.6-23.4l1.6-1.6c3.8-3.8,5.8-8.7,5.8-14.1S81.9,28.9,78.2,25.2L78.2,25.2z M75.4,50.5   l-1.4,1.4L50,73L26.1,51.9l-1.4-1.4c-6.2-6.2-6.2-16.3,0-22.5c3-3,7-4.7,11.2-4.7c4.2,0,8.2,1.7,11.2,4.6l2.9,2.9l2.9-2.9   c6.2-6.2,16.3-6.2,22.5,0c3,3,4.6,7,4.6,11.2S78.3,47.5,75.4,50.5z"/></g></svg>
                    <div class="item__text fontSize-20">282</div>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-md-8 col-lg-9">
            <div class="grid__item">
                <div class="slider__parallax -parallax-smooth" data-pos="right" data-from="100" data-to="-300">
                    <div class="slider__parallax__image -back progressive-image"></div>
                    <div class="slider__parallax__image -front progressive-image"></div>
                </div>
            </div>
        </div>
    </div>

</promo-gold>
