<section-navbar class="navbar -top">

    <div class="navbar__panel">
        <a href="/" class="navbar__logo"></a>
        <div class="navbar__col__left">
            <div class="navbar__catalog__link"><span>Каталог</span></div>
        </div>
        <div class="navbar__col__right">
            <a href="tel:88005008899" class="navbar__phone item">8 800 500 88 99</a>
            <div class="navbar__search__link item"></div>
            <div class="navbar__menu__link item"></div>
        </div>
    </div>
    <div class="navbar__subpanel">
        <a href="tel:88005008899" class="navbar__phone">8 800 500 88 99</a>
    </div>

</section-navbar>
