.display-inlineBlock {
    display:inline-block;
}
.display-inline {
    display:inline;
}
.display-none {
    display:none;
}
.display-block {
    display:block;
}
.display-listItem {
    display:list-item;
}
.display-table {
    display:table;
}
.display-tableCell {
    display:table-cell;
}
.vAlign-top {
    vertical-align:top;
}
.vAlign-middle {
    vertical-align:middle;
}
.vAlign-bottom {
    vertical-align:bottom;
}
.vAlign-textBottom {
    vertical-align:text-bottom;
}
.visibility-hidden {
	visibility:hidden;
}
.visibility-visible {
	visibility:visible;
}
