.no-scroll {
    overflow:hidden !important;
}
.overflow-auto {
    overflow:auto;
}
.overflowX-scroll {
    overflow-x:scroll;
}
.overflowX-hidden {
    overflow-x:hidden;
}
.overflowX-auto {
    overflow-x:auto;
}
.overflowY-scroll {
    overflow-y:scroll;
}
.overflowY-hidden {
    overflow-y:hidden;
}
.overflowY-auto {
    overflow-y:auto;
}
.overflow-hidden {
    overflow:hidden;
}
.overflow-visible {
    overflow:visible;
}
