<products-grid class="grid container">

    <div class="row">
        <div class="col-xs-24 col-md-16 col-lg-12">
            <div class="block grid__item">
                <div class="block__image progressive-image" style="background-image:url(/assets/images/butiki.jpg)"></div>
                <div class="block__title">Бутики BORK</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="product grid__item">
                <div class="product__wrapper">
                    <img class="product__image" data-src="/assets/images/products/49167.png">
                    <div class="product__buttons" data-item="zoom-basket"></div>
                </div>
                <div class="product__text" data-scrollin>
                    <div class="product__title">Пылесос V705 Green</div>
                    <div class="product__price">19 880 &#8381;</div>
                    <span class="product__price__sale">Новинка</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="product grid__item">
                <div class="product__wrapper">
                    <img class="product__image" data-src="/assets/images/products/13757.png">
                    <div class="product__buttons" data-item="zoom-basket"></div>
                </div>
                <div class="product__text" data-scrollin>
                    <div class="product__title">Утюг i604</div>
                    <div class="product__price">12 880 &#8381;</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="product grid__item">
                <div class="product__wrapper">
                    <img class="product__image" data-src="/assets/images/products/32313.png">
                    <div class="product__buttons" data-item="zoom-basket"></div>
                </div>
                <div class="product__text" data-scrollin>
                    <div class="product__title">Кофемашина C830</div>
                    <div class="product__price">48 880 &#8381;</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="product grid__item">
                <div class="product__wrapper">
                    <img class="product__image" data-src="/assets/images/products/13719.png">
                    <div class="product__buttons" data-item="zoom-basket"></div>
                </div>
                <div class="product__text" data-scrollin>
                    <div class="product__title">Чайник K780</div>
                    <div class="product__price">15 880 &#8381;</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 visible-xs visible-md">
            <div class="product grid__item -nobg">
                <div class="product__wrapper" data-scrollin>
                    <div class="product__text__left">
                        Суперпомощник, который может подогреть суп
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="product grid__item">
                <div class="product__wrapper bg-cover -line progressive-image" style="background-image:url(/assets/images/products/b802.jpg)">
                    <div class="product__buttons" data-item="zoom-basket"></div>
                </div>
                <div class="product__text" data-scrollin>
                    <div class="product__title">Блендер B802</div>
                    <div class="product__price">38 880 &#8381;</div>
                    <span class="product__price__sale">Хит продаж</span>
                </div>
            </div>
        </div>
        <div class="hidden-xs col-xs-12 col-md-8 col-lg-6">
            <div class="product grid__item -nobg">
                <div class="product__wrapper">
                    <div class="product__options">
                        <div class="product__options__item" data-scrollin>
                            <div class="product__options__icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.889 595.281" enable-background="new 0 0 841.889 595.281" xml:space="preserve">
                                <path d="M451.387,149.201l-13.715,111.258l-1.655,13.358h13.478h54.516L390.502,422.245l13.715-111.246l1.655-13.37
                                	h-13.478h-54.516L451.387,149.201z M313.794,309.546h78.601l-19.072,154.773l154.772-202.407h-78.601l19.072-154.762
                                	L313.794,309.546z"></path>
                                </svg>
                            </div>
                            <div class="product__options__text">Мощность 2200 Вт</div>
                        </div>
                        <div class="product__options__item" data-scrollin>
                            <div class="product__options__icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.889 595.281" enable-background="new 0 0 841.889 595.281" xml:space="preserve">
                                <g>
                                	<path d="M306.627,357.013l-9.501-26.858h-51.86l-9.501,26.847H222.24l43.693-118.747h10.667l43.527,118.747h-13.501
                                		V357.013z M271.447,256.447l-22.348,62.707h44.36L271.447,256.447z"></path>
                                	<path d="M378.942,358.013c-24.014,0-41.36-16.513-41.36-40.193v-79.553h12.668v78.553
                                		c0,18.014,11.346,29.848,28.681,29.848c17.347,0,28.848-11.834,28.848-29.848v-78.553h12.679v79.553
                                		C420.481,341.501,402.967,358.013,378.942,358.013z"></path>
                                	<path d="M487.961,249.613v107.4h-12.668v-107.4h-34.359v-11.346h81.387v11.346H487.961z"></path>
                                	<path d="M608.47,345.668c-8.001,8-18.514,12.346-30.348,12.346c-11.846,0-22.347-4.333-30.359-12.346
                                		c-11.167-11.168-11.167-22.847-11.167-48.027s0-36.86,11.167-48.027c8.013-8.001,18.514-12.347,30.359-12.347
                                		c11.834,0,22.347,4.334,30.348,12.347c11.179,11.167,11.179,22.847,11.179,48.027S619.649,334.5,608.47,345.668z M598.636,257.113
                                		c-5.179-5.333-12.668-8.5-20.514-8.5s-15.347,3.167-20.525,8.5c-7.5,7.68-8.334,15.68-8.334,40.527
                                		c0,24.847,0.834,32.859,8.334,40.526c5.179,5.334,12.68,8.501,20.525,8.501s15.335-3.167,20.514-8.501
                                		c7.5-7.667,8.334-15.667,8.334-40.526C606.97,272.793,606.136,264.793,598.636,257.113z"></path>
                                </g>
                                </svg>
                            </div>
                            <div class="product__options__text">5 автоматических программ</div>
                        </div>
                        <div class="product__options__item" data-scrollin>
                            <div class="product__options__icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.889 595.281" enable-background="new 0 0 841.889 595.281" xml:space="preserve">
                                <g>
                                	<path d="M374.215,410.291c-27.002,0-40.491-18.965-40.491-42.419v-97.043h-19.93v-17.68h19.93v-49.492h23.133
                                		v49.492h33.741v17.68h-33.741v96.412c0,14.465,6.751,23.145,21.537,23.145h12.216v19.918h-16.395V410.291z"></path>
                                	<path d="M482.223,283.996c-29.252,0-53.027-23.453-53.027-52.706c0-29.239,23.775-52.706,53.027-52.706
                                		c29.24,0,52.706,23.467,52.706,52.706C534.929,260.53,511.463,283.996,482.223,283.996z M481.902,197.228
                                		c-18.966,0-33.098,14.774-33.098,34.062s14.465,34.062,33.431,34.062c18.954,0,33.098-14.787,33.098-34.062
                                		C515.332,212.015,500.855,197.228,481.902,197.228z"></path>
                                </g>
                                </svg>
                            </div>
                            <div class="product__options__text">Возможность нагревания смеси</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</products-grid>
