// product gallery

$p_gl_column_left: 42vw;
$p_gl_column_center: 32vw;
$p_gl_column_right: 26vw;


// product features

$p_fs_block_width: 440px;
$p_fs_block_height: 220px;
$p_fs_block_clipRight: 40px;
$p_fs_block_title: 70px;
$p_fs_block_text: 125px;
$p_fs_block_image: 170px;
