<ui-more class="ui-more">

    <div if={ opts.image } class="ui-more__image" style="background-image:url({ opts.image })"></div>
    <svg class="ui-more__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><g><polygon fill="none" points="16.387,14.281 16.387,85.719 78.253,49.999  "/><path d="M11.028,5v90l77.945-45.001L11.028,5z M16.387,14.281l61.866,35.718L16.387,85.719V14.281z"/></g></svg>
    <div class="ui-more__label">
        <div class="ui-more__label__icon"></div>
        <div class="ui-more__label__text">Подробнее</div>
    </div>

</ui-more>
