<root-main id="app" class="page home">

    <section-navbar></section-navbar>

    <home-header></home-header>

    <products-grid></products-grid>

    <div class="grid__divider"></div>

    <promo-gold></promo-gold>

    <promo-premium></promo-premium>

    <section-hotline></section-hotline>

    <section-footer></section-footer>

    <section-player></section-player>

    <section-product></section-product>

<script>

    app.$root = this;
    app.$root.scope = this.root;

</script>

</root-main>
